.edit-text-address-main-body{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 25px;
}

.main-input {
  width: 500px;
  height: 25px;
  font-size: 20px;
}


.icons {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
}
