.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 18vw;
  height: 100vh;
  //border-bottom: 1px solid #6F2232;
  background-color: #1F252D;
  color: white;
}


.navbar-header{
  margin-top: 40px;
  width: 15vw;
  margin-left: 3vw;
  height: 8vh;
  font-size: 20px;
}


.nav-items-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.navbar-item {
  margin-top: 40px;
  width: 15vw;
  margin-left: 3vw;
  height: 4vh;
  color: #6C7B8C;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  &:hover {
    color: #EFF0F1;
    text-decoration: none;
  }
}

.active {
  color: #EFF0F1;
}
